:root {
    --c_blue: #4281A4;
    --c_green: #48A9A6;
    --c_white: #E4DFDA;
    --c_tan: #D4B483;
    --c_red: #C1666B;
    -webkit-backface-visibility: hidden
}

body {
    background-color: var(--c_tan);
    padding: 0px;
    margin: 0px;
    color: var(--c_white);
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 100%;
}

#grafana {
    width:80vw;
    height:80vh;
}